@mixin Xflex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin Xflex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin Xflex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin Xflex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@mixin Yflex-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin Yflex-between-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin Yflex-start-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
}
@mixin Yflex-stretch-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: stretch;
}

@mixin Yflex-center-start{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

