.container{
    display: grid;
    grid-template-rows: 80vh auto 40vw repeat(3, auto);
    grid-template-columns:[sidebar-start] 8rem [sidebar-end full-start] minmax($side-padding, 1fr) [center-start] repeat(8, [col-start] minmax(auto, $col-width) [col-end])[center-end] minmax($side-padding,1fr) [full-end];
}