.story{
    &__pictures{
        background-image:linear-gradient(rgba($color-primary,.5),rgba($color-primary,.5)), url(../img/back.jpg);
        grid-column: full-start / col-end 4;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    &__img{
        display: block;
        width: 100%;
        &--1{
            grid-row: 2/6;
            grid-column: 2/6;
            box-shadow: $shadow-sm;
        }
        &--2{
            width: 115%;
            grid-row: 4/7;
            grid-column: 4/7;
            z-index: 1;
            box-shadow: $shadow-sm-2;
        }
    }
    &__content{
        grid-column: col-start 5 / full-end;
        @include Yflex-start-center;
        background-color: $color-grey-light-1;
        padding: 3vw 8vw;
    }
    &__text{
        margin-bottom: 4rem;
        font-size: 1.5rem;
        font-style: italic;
    }
    @media (max-width:$bp-medium){
        &__pictures,
        &__content{
            grid-column: full-start/ full-end;
        }
        &__content{
         grid-row: 5/6 ;   
        }
        &__img--2{
            width: 100%;
        }
    }
}