*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
li{
    text-decoration: none;
}
button{
    border: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}
input{
    color: inherit;
    font-family: inherit;
}
html {
    font-size: 62.5%;
    @media (max-width:$bp-largest) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}