.u-mb-small {
    margin-bottom: 2rem; /* 5px */
}

.u-mb-medium {
    margin-bottom: 3rem; /* 10px */
}

.u-mb-large {
    margin-bottom: 4rem; /* 15px */
}

.u-mb-xl {
    margin-bottom: 8rem; /* 20px */
}
